body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gender-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.gender-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 101%;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

